body{
    margin: 0%;
    padding: 0%;
}
header > img{
    display:flex;
    justify-content: center;
    margin-left:600px;
}
nav{
    margin:10px;
    background-color: rgb(168, 164, 164);
    padding:5px;
    border-radius: 20px;
}
ul{
display:flex;

}
li{
    list-style-type:none;
    padding:5px;
    
}
a{
    text-decoration: none;
    padding-left: 250px;
    color:black;
    text-align: center;
}
.container1{
    border:2px solid black;
    margin: 20px;
    display: flex;
    gap:100px;
}
.container{
    border:2px solid black;
    margin: 20px;
    display: flex;
    gap:100px;
    justify-content: center;
}
.box1{
    font-size: 20px;
}
.box4{
    display:flex;
}
.box5{
    align-self: start;
}
.box6{
    align-self: end;
}